<h1>DB News Processor</h1>

<p>This Application processes news article and displays sentiments in the form of text and visualization</p>

<br>

<html>
  <body>
    <form action="upload" method="POST" enctype="multipart/form-data">
      Upload News Article Text: <input type="text" name="text"><br>
      <input type="submit" name="submit" value="Process">
    </form>
    {% for text_entity in text_entities %}
      <p>Text: {{text_entity['text']}}</p>
      <p>Uploaded: {{text_entity['timestamp']}}</p>
      <p>Overall Sentiment: {{text_entity['sentiment']}}</p>
    {% endfor %}
  </body>
</html> 
